body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 50px;
  font-size: 30px;
  width: 200px;
  margin-top: 300px;
}