#root {
  display: flex;
  /* justify-content: center; */
}

.App {
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  min-width: 240px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 150px;
  margin-bottom: 5px;
}

.card:hover {
  transform: scale(0.9);
}

.card img {
  max-height: 140px;
  border-radius: 5px;
  padding: 10px;
}
