main, section {
    border-color: white;
    border-style: solid;
  }

  .title {
    text-align: center;
    color: white;
  }

  .main-content {
    background-color: yellow;
  }

  .main-content .center-content {
    background-color: red;
    width: 50%;
    margin: 0 auto;
  }

  .main-content .center-content p {
    font-style: italic;
  }

  body {
    background-color: rgb(196, 99, 99);
  }